@import url('https://fonts.googleapis.com/css?family=Exo:300,400');
 #master-section {
     background:url('https://storage.emojot.com/pictures/skinImages/67761761cb917201e680c031-skin11.png');
     min-height: 657px;
     background-size:cover;
     background-repeat: no-repeat;
     background-position: bottom;
     position: relative;
}
 #headerCompanyInfo {
     color:white !important
}
 .container[style]{
     padding-left:0px !important;
     padding-right:0px !important;
}
 .emote-title {
     color: #ffffff;
     font-family: 'exo 2.0', Helvetica, Arial, sans-serif;
     font-size:12pt;
     font-weight: bold;
}
.emo-text {
    font-size: 11pt;
    color: #ffffff;
    font-family: 'Exo 2.0',Helvetica, Arial, sans-serif;
    font-weight: 300;
}

textarea.form-control {
    background: rgba(255, 255, 255, 0.337);
    color: #ffffff !important;
}
 .middle-box {
     margin-top: 10px;
     padding: 10px;
     border: 1px solid #f3f3f3;
}
 
 .emo-cont {
     border: 2px solid rgba(255, 255, 255, 0);
     margin: 3px 0px;
     text-align: center;
     display: inline-block;
     border-radius: 0px;
     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
     padding: 7px 0;
     border-radius: 4px;
     color:#666;
     background: rgba(255, 255, 255, 0.337);
     }

.clicked-emo-cont {
    border: 3px #ffffff solid !important;
}
.emo-ico img {
    width: 80%;
    display: inline-block;
    text-align: center;
    max-width: 55px;
    margin: 5px;
}

.form-group label {
    color: #ffffff !important;
}
 .btn {
     
     color: ed1c24;
     
}

 .btn-next {
     color: #000000;
}
 .btn-submit {
     color: #000000;
}
 .btn-prev {
     color: #333;
}
 .btn-clear {
     color: #333;
}

.btn-next,.btn-submit,.btn-prev,.btn-clear,.btn-skip,.btn-ok,.loyalty-redeem-button{
    border: 1px solid rgba(255,255,255, 0.5);
    margin: 10px 5px;
    text-align: center;
    min-width: 90px;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    padding: 9px 25px;
    font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    background: rgba(249,249,249,1);
     background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(227,227,227,1)));
     background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
}

 .clear-submit-row{
    text-align:center !important;
}
 .btn:hover {
     color: #444444;
     text-decoration: none;
}
.btn-ok{
    color:#333 
}
.btn-skip{
    color:#333;
}
.btn-fb{
    color:white;
}

.loyalty-redeem-button{
    border-color: #000000;
}

 .logo-cust {
    margin: 3px 0 -3px 9px;
     height: 50px;
}
.company-logo img {
    height: 80px !important;
}

.footer .logo {
    padding: 2px !important;
}
 .sensor-title {
     color: #ffffff;
     font-size: 17pt;
     padding: 10px 10px 0px 10px;
     margin-bottom: 10px;
     font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
     letter-spacing: -0.5px;
     background: rgba(255, 255, 255, 0);
     line-height: 40px;
     font-weight: bold;
}

.form-control {
    border-radius: 0px;
}

.panel {
    margin: 0 10px;
}

 .panel-group .panel {
     margin-bottom: 0;
     border-radius: 5px;
     box-shadow: none;
     background: rgba(250, 247, 247, 0.64);
}
 
 .panel-group .panel-heading {
     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
     border-radius: 5px;
     color: black;
     background: rgba(249,249,249,1);
     background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(227,227,227,1)));
     background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
}
 .panel-title {
    font-size: 11pt;
     max-width: 90%;
     font-family: 'Exo', Helvetica, Arial, sans-serif;
     line-height: 1.6;
}
 .row {
     background: transparent !important;
}
 .my-emojots{
     display:none;
}
 .panel-body {
     background: transparent !important;
}
 .thank-you-note{
     color:white !important;
}
 
 #headerCompanyInfo > .access-user{
     text-align: center;
     float: right;
     text-shadow: 1px 1px 1px #000;
     font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
     font-style: italic;
     font-size: 15px;
     background-size: 120px 80px;
     background-repeat: no-repeat;
     background-position: right center;
     position: relative;
}
 .company-logo img{
     height: 50px;
}

.progress_bar .pro-bar {
    background: #000000 !important;
}

#progressfill {
  background: #ffffff !important;
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
  height: 100%;
  width: 100%;
}

.flex {
    display: flex !important;
    justify-content: center !important;
}
 .footer {
     background: #000000 !important;
     color: #fff;
     position: absolute;
     right: 10px;
     left: 0;
     z-index: 1030;
     bottom: 0;
     height: 40px;
     padding: 12px 13px;
     font-size: 8pt;
     margin: 0 -10px 0px 0;
     font-family: 'Exo', Helvetica, Arial, sans-serif;
}

.nps-bar::before,
.nps-bar::after {
    content: "";
    position: absolute;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    top: 100%;
    transform: translateY(8px);
}

.nps-bar::before {
    content: "Less Likely";
    left: 10px;
    color: #ffffff;
    margin-left: 5px;
}

.nps-bar::after {
    content: "More Likely";
    right:10px;
    color: #ffffff;
    margin-right: 5px;
}

.evz-nps-position-0,
.evz-nps-position-1,
.evz-nps-position-2,
.evz-nps-position-3,
.evz-nps-position-4,
.evz-nps-position-5,
.evz-nps-position-6{
    background: #ff2942;
    color: white;
    border: 1px solid rgba(255, 0, 55, 0.61);
}

.evz-nps-position-7,
.evz-nps-position-8{
    background: #ff7924;
    color: white;
    border: 1px solid rgba(195, 117, 34, 0.61);
}

.evz-nps-position-9,
.evz-nps-position-10{
    background: #1ca757;
    color: white;
    border: 1px solid rgba(17, 144, 74, 0.61);
}

.clicked-nps-icon{
    border: 3px solid #ffffff;
    box-shadow: 0px 2px 6px #736f6f;
}

 .form-group label{
     columns: #fff !important;
     font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
     font-size:12pt;
}
 .loyalty-message{
     color:#591350;
     font-size: 14pt;
}
 .loyalty-bottom{
     text-align:center;
}
 
 .loyalty-dialog div:nth-child(3){
    
}
 
 .email-emote-message{
     color:white !important;
}

#progressfill{
    background-color: #337ab7;
}

#groupCommentBuzzModal .modal-header{
	background:#fff ;
	color:#e4e4e4;
}

#groupCommentBuzzModal .modal-body{
	background:#fff;
	color:#333333;
}

#groupCommentBuzzModal .modal-footer{
	background:#fff;
	color:white;
}

#groupCommentBuzzModal .panel-body.comment-panel{
	background:#f6f6f6 !important;
}

#groupCommentBuzzModal .panel-footer.comment-footer{
	color:#333333;
}

.thank-you-note{
    color: #ffffff !important; 
}

#barChart{
    width:100%;
}