@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#master-section {
    background: url("https://storage.emojot.com/pictures/skinImages/60537e5f830a3f0010bae459-skin15.png");
    /* background: linear-gradient(to bottom, #ffffff, #f0f0f0); White to light gray gradient */
    /* background-color: #ffffff; */
    min-height: 657px;
    /* min-height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#headerCompanyInfo {
    color: #ffffff !important;
    min-height: 90px;
    background: none !important;
    display: none !important;
}

.container[style] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.emote-title {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
    font-weight: 600;
}



.form-group label {
    color: #000000 !important;
    font-family: "Roboto", sans-serif;
    font-size: 15pt !important;
    font-weight: 600 !important;
}

.emo-text {
    font-size: 13pt;
    color: #626262;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.emo-text-only {
    font-size: 13pt;
    color: #626262;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.loyalty-message {
    font-size: 13pt;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.emo-text-dropdown {
    color: #626262 !important;
}

.middle-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f3f3f3;
}

.emo-cont {
    border: 2px solid #337abb;
    margin: 3px 0px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 7px 0;
    border-radius: 3px;
    color: #337abb;
}

.clicked-emo-cont {
    border: 3px #337abb solid !important;
    background: #337abb45;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 7px 0;
    border-radius: 3px;
}

.emo-ico img {
    width: 80%;
    display: inline-block;
    text-align: center;
    max-width: 55px;
    margin: 5px;

    /* Add the shake animation */
    /* animation: shake 0.6s infinite; */
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-2px, 0) rotate(-5deg);
    }

    40% {
        transform: translate(2px, 0) rotate(5deg);
    }

    60% {
        transform: translate(-2px, 0) rotate(-5deg);
    }

    80% {
        transform: translate(2px, 0) rotate(5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.btn-next,
.btn-submit,
.btn-prev,
.btn-clear,
.btn-skip,
.btn-ok,
.loyalty-redeem-button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10px 5px;
    text-align: center;
    min-width: 90px;
    display: inline-block;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 6px 32px;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
    border-radius: 50px !important;
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(100%, rgba(227, 227, 227, 1)));
    background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
}

.clear-submit-row {
    text-align: center !important;
}

.clear-submit-row,
.draft-response-row {
    padding-right: 0 !important;
}


.btn-next {
    color: #ffffff;
    background: linear-gradient(135deg, #61b7e5, #337abb);
}

.btn-submit {
    background: linear-gradient(135deg, #61b7e5, #337abb);
    color: #ffffff;
}

.btn-prev {
    color: #333;
}

.btn-clear {
    color: #333;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-ok {
    color: #ffffff;
    background: linear-gradient(135deg, #61b7e5, #337abb);
}

.btn-skip {
    color: #333;
}

.btn-fb {
    color: white;
}

.loyalty-redeem-button {
    border-color: #ffffff;
}

.logo-cust {
    margin: 3px 0 -3px 9px;
    height: 50px;
}

.sensor-title {
    color: #337abb !important;
    font-size: 20pt;
    font-family: "Roboto", sans-serif;
    background: rgba(255, 255, 255, 0);
    line-height: 40px;
    font-weight: 700;
}

.form-control {
    border-radius: 3px;
}

.panel {
    margin: 0 10px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 3px;
    box-shadow: none;
    background: rgba(250, 247, 247, 0.64);
}

.panel-group .panel-heading {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #337abb;
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(100%, rgba(227, 227, 227, 1)));
    background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
}

.panel-title {
    font-size: 11pt;
    max-width: 90%;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

.row {
    background: transparent !important;
}

.my-emojots {
    display: none;
}

.panel-body {
    background: transparent !important;
}

.thank-you-note {
    color: white !important;
}

.flex {
    justify-content: center !important;
}

#headerCompanyInfo>.access-user {
    text-align: center;
    float: right;
    text-shadow: 1px 1px 1px #000;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 15px;
    background-size: 120px 80px;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
}

.access-user-name {
    font-family: "Roboto", sans-serif;
}

.company-logo {
    z-index: 2 !important;
}

.company-logo img {
    height: 70px;
}

.footer {
    /* background: linear-gradient(135deg, #61b7e5, #337abb) !important; */
    background: linear-gradient(135deg, #61b7e5, #337abb) !important;
    color: #fff;
    position: absolute;
    right: 10px;
    left: 0;
    z-index: 1030;
    bottom: 0;
    height: 40px;
    padding: 12px 13px;
    font-size: 8pt;
    margin: 0 -10px 0px 0;
    font-family: "Roboto", sans-serif;
}

.form-group label {
    columns: #fff !important;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

.loyalty-message {
    color: #000000;
    font-size: 16pt;
    font-weight: 500;
}

.loyalty-bottom {
    text-align: center;
}

.loyalty-dialog div:nth-child(3) {}

.email-emote-message {
    color: white !important;
}

#progressfill {
    background-color: #337abb;
    animation: colorShift 3s infinite alternate ease-in-out;
}

.media-uploaded {

    border: 2px solid #ffffff;
    background: #ff10ef20;

}

@keyframes colorShift {
    from {
        background-color: #337abb;
    }

    to {
        background-color: #61b7e5;
    }
}


.progress_bar .progress_number {
    font-family: "Roboto", sans-serif;
    color: #337abb;
    margin-top: 5px;
    margin-bottom: 5px;
}

#groupCommentBuzzModal .modal-header {
    background: #fff;
    color: #e4e4e4;
}

#groupCommentBuzzModal .modal-body {
    background: #fff;
    color: #333333;
}

#groupCommentBuzzModal .modal-footer {
    background: #fff;
    color: white;
}

#groupCommentBuzzModal .panel-body.comment-panel {
    background: #f6f6f6 !important;
}

#groupCommentBuzzModal .panel-footer.comment-footer {
    color: #333333;
}

.thank-you-note {
    color: #337abb !important;
    font-size: 15px !important;
}

#barChart {
    width: 100%;
}
.evz-nps-position-0,
.evz-nps-position-1,
.evz-nps-position-2,
.evz-nps-position-3,
.evz-nps-position-4,
.evz-nps-position-5,
.evz-nps-position-6 {
    background: #ff2942;
    color: white;
    border: 1px solid rgba(255, 0, 55, 0.61);
}

.evz-nps-position-7,
.evz-nps-position-8 {
    background: #ff7924;
    color: white;
    border: 1px solid rgba(195, 117, 34, 0.61);
}

.evz-nps-position-9,
.evz-nps-position-10 {
    background: #1ca757;
    color: white;
    border: 1px solid rgba(17, 144, 74, 0.61);
}

.clicked-nps-icon {
    border: 3px solid #333;
    box-shadow: 0px 2px 6px #716868;
}

.ui-select-container .ui-select-match span {
    font-weight: 500 !important;
}


div.col-xs-7.ng-scope {
    font-family: "Roboto", sans-serif !important;
}

@media (max-width: 768px) {

    .emote-title,
    .form-group label {
        font-size: 12pt !important;
    }

    .emo-text {
        font-size: 10pt !important;
    }

    .emo-text-only {
        font-size: 10pt !important;
    }

    .panel-title {
        font-size: 8pt !important;
    }

    .loyalty-message {
        font-size: 13pt !important;
    }

    .progress_bar .progress_number {
        font-size: 10pt !important;
    }

    .nps-bar::before,
    .nps-bar::after {
        font-size: 12pt !important;
    }

    .btn-next,
    .btn-submit,
    .btn-prev,
    .btn-clear,
    .btn-skip,
    .btn-ok,
    .loyalty-redeem-button {
        font-size: 10pt !important;
        padding: 6px 32px !important;
        min-width: 85px !important;
        border-radius: 50px !important;
    }

    .access-user-name,
    #headerCompanyInfo>.access-user {
        font-size: 12pt !important;
    }

    .company-logo img,
    .logo-cust {
        height: 40px !important;
    }

    .emo-ico img {
        max-width: 50px !important;
        width: 75% !important;
    }

    .form-control {
        font-size: 11pt !important;
    }

    .loyalty-message {
        font-size: 12pt;
        color: #150014;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }
}