 #master-section {
     min-height: 657px;
     background-size:cover;
     background-repeat: no-repeat;
     background-position: bottom;
     position: relative;
    background: #f5f2f2;
}

@import url('https://fonts.googleapis.com/css?family=Exo:300,400');
 #headerCompanyInfo {
     color:white !important
}
 .container[style]{
     padding-left:0px !important;
     padding-right:0px !important;
}
 .emote-title {
     color: #1b1b1b;
     font-family: 'exo 2.0', Helvetica, Arial, sans-serif;
     font-size:12pt;
     font-weight: bold;
}
.emo-text {
    font-size: 13pt;
    color: #666;
    font-family: 'Exo 2.0',Helvetica, Arial, sans-serif;
    font-weight: 300;
}
 .middle-box {
     margin-top: 10px;
     padding: 10px;
     border: 1px solid #f3f3f3;
}
 
 .emo-cont {
     border: 2px solid #3330;
     margin: 3px 0px;
     text-align: center;
     display: inline-block;
     border-radius: 0px;
     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
     padding: 7px 0;
     border-radius: 4px;
     color:#666;
     background: rgb(255, 255, 255);
     }

.clicked-emo-cont {
    border: 3px #353535 solid !important;
    background:#fff7f7
}
.emo-ico img {
    width: 80%;
    display: inline-block;
    text-align: center;
    max-width: 55px;
    margin: 5px;
}
 .btn {
     
     color: ed1c24;
     
}

 .btn-next {
     color: #ed1c24;
}
 .btn-submit {
     color: #ed1c24;
}
 .btn-prev {
     color: #333;
}
 .btn-clear {
     color: #333;
}

.btn-next,.btn-submit,.btn-prev,.btn-clear,.btn-skip,.btn-ok,.loyalty-redeem-button{
    border: 1px solid rgba(255,255,255, 0.5);
    margin: 10px 5px;
    text-align: center;
    min-width: 90px;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    padding: 9px 25px;
    font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    background: rgba(249,249,249,1);
     background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(227,227,227,1)));
     background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
}

 .clear-submit-row{
    text-align:center !important;
}
 .btn:hover {
     color: #ed1c24;
     text-decoration: none;
}
.btn-ok{
    color:#333 
}
.btn-skip{
    color:#333;
}
.btn-fb{
    color:white;
}

.loyalty-redeem-button{
    border-color: #2a92ce;
}

 .logo-cust {
    margin: 3px 0 -3px 9px;
     height: 50px;
}
 .sensor-title {
     color: #eceaea;
     font-size: 17pt;
     padding: 10px 10px 0px 10px;
     margin-bottom: 10px;
     font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
    
     letter-spacing: -0.5px;
     background: #ed1c24;
     line-height: 40px;
     font-weight: bold;
}

.form-control {
    border-radius: 0px;
}

.panel {
    margin: 0 10px;
}

 .panel-group .panel {
     margin-bottom: 0;
     border-radius: 5px;
     box-shadow: none;
     background: rgba(250, 247, 247, 0.64);
}
 
 .panel-group .panel-heading {
     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
     border-radius: 5px;
     color: black;
     background: rgba(249,249,249,1);
     background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(227,227,227,1)));
     background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
}
 .panel-title {
    font-size: 11pt;
     max-width: 90%;
     font-family: 'Exo', Helvetica, Arial, sans-serif;
     line-height: 1.6;
}
 .row {
     background: transparent !important;
}
 .my-emojots{
     display:none;
}
 .panel-body {
     background: transparent !important;
}
 .thank-you-note{
     color:white !important;
}

.access-user span{
	display:none;
}

#sensor-header-right-section{
	display:none;
}
 
 #headerCompanyInfo > .access-user{
     text-align: center;
     float: right;
     text-shadow: 1px 1px 1px #000;
     font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
     font-style: italic;
     font-size: 15px;
     background-size: 120px 80px;
     background-repeat: no-repeat;
     background-position: right center;
     position: relative;
}
 .company-logo img{
     height: 50px;
}
 .footer {
     background: #3a3838 !important;
     color: whitesmoke;
     position: absolute;
     right: 10px;
     left: 0;
     z-index: 1030;
     bottom: 0;
     height: 40px;
     padding: 12px 13px;
     font-size: 8pt;
     margin: 0 -10px 0px 0;
     font-family: 'Exo', Helvetica, Arial, sans-serif;
}
 .form-group label{
     columns: #fff !important;
     font-family: 'Exo 2.0', Helvetica, Arial, sans-serif;
     font-size:12pt;
}
 .loyalty-message{
     color:#333;
     font-size: 14pt;
}
 .loyalty-bottom{
     text-align:center;
}
 
 .loyalty-dialog div:nth-child(3){
    
}
 
 .email-emote-message{
     color:#9d2727 !important;
}

#progressfill{
    background-color: #797676;
}

#groupCommentBuzzModal .modal-header{
	background:#fff ;
	color:#e4e4e4;
}

#groupCommentBuzzModal .modal-body{
	background:#fff;
	color:#333333;
}

#groupCommentBuzzModal .modal-footer{
	background:#fff;
	color:white;
}

#groupCommentBuzzModal .panel-body.comment-panel{
	background:#f6f6f6 !important;
}

#groupCommentBuzzModal .panel-footer.comment-footer{
	color:#333333;
}

.thank-you-note{
    color: #000 !important; 
}

#barChart{
    width:100%;
}

.thankYouImage{
    width:70px;
}