@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
/* 

    =================|=================================
    class/id         | description
    ===================================================
    master-section   | to change sensor background
    emote-title      | change question title
    emo-text         | change emoticon text
    emo-cont         | change emoticon style. You can change emoticon button background color etc.
    clicked-emo-cont | Add the style after the emoticon button get clicked
    sensor-title     | change sensor title
    form-group label | This will change the all label colors including label for loyalty and comments.
    loyalty-message  | Change loyalty description style
    thank-you-note   | change thank you note text color
    footer           | Change footer color
    pdGroupTitle     | change group title properties
    progressfill     | change page progress color
    NPS style        | uncomment this code to show color coded NPS
*/

#master-section {
  background: url("https://storage.emojot.com/pictures/skinImages/6926d3f44bfc1d3e23a8d85b-skin11.png");
  /* background: linear-gradient(to bottom, #ffffff, #f0f0f0); White to light gray gradient */
  /* background-color: #ffffff; */
  min-height: 657px;
  /* min-height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* .lean{
	min-width:100%;
}

.lean{
    width:100% !important;
    max-width:100% !important;
} */



#headerCompanyInfo {
  color: #000000 !important;
  min-height: 70px;
}

.container[style] {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.emote-title {
  color: #7d593f;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-group label {
  color: #7d593f;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.middle-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #000000;
}

.progress_bar .progress_number {
  color: #7d593f;
  margin-top: 5px;
}

.emo-cont {
  border: none !important;
  margin: 3px 0px;
  text-align: center;
  display: inline-block;
  box-shadow: none !important;
  padding: 7px 7px;
  border-radius: 0px;
  color: #000000;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#e2e2e2', GradientType=1 ); */
}

.emo-cont:hover {
  animation: zoomIn 0.5s forwards;
  /* Apply the zoom animation on hover */
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
    /* Initial scale */
  }

  100% {
    transform: scale(1.1);
    /* Final scale */
  }
}

.clicked-emo-cont {
  background: rgba(212, 207, 207, 0.31);
  border: 3px #000000 solid !important;
}

.emo-ico img {
  width: 80%;
  display: inline-block;
  text-align: center;
  max-width: 55px;
  margin: 5px;
}

.emo-text {
  font-size: 12pt;
  color: #7d593f;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}


.btn {
  color: #000000;
}

.btn-next,
.btn-submit,
.btn-prev,
.btn-clear,
.btn-skip,
.btn-ok,
.loyalty-redeem-button {
  border-radius: 0;
  text-align: center;
  min-width: 90px;
  display: inline-block;
  padding: 9px 25px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  background: transparent;
  box-shadow: none;
  font-weight: 500;
  border: none !important;
  font-weight: 600 !important;
}

.btn-next {
  color: #ffffff;
  background: #7d593f;
  border: none;
}

.btn-next:hover {
  color: #000000;
  background: #ffffff;
  border: none;
}

.btn-prev {
  color: #000000;
  background: #ffffff;
  border: none;
}

.btn-prev:hover {
  color: #ffffff;
  background: #7d593f;
  border: none;
}

.btn-submit {
  color: #ffffff;
  background: #7d593f;
  border: none;
}

.btn-submit:hover {
  color: #000000;
  background: #ffffff;
  border: none;
}

.btn-clear {
  color: #000000;
  background: #ffffff;
  border: none;
}

.btn-clear:hover {
  color: #ffffff;
  background: #7d593f;
  border: none;
}

.btn-ok {
  color: #ffffff;
  background: #7d593f;
  border: none;
}

.btn-ok:hover {
  color: #000000;
  background: #ffffff;
  border: none;
}

.btn-skip {
  color: #000000;
  background: #ffffff;
  border: none;
}

.btn-skip:hover {
  color: #ffffff;
  background: #7d593f;
  border: none;
}

.loyalty-redeem-button {
  border: 2px solid black;
  color: black;
}

.loyalty-redeem-button:hover {
  background: black;
  color: white;
  border: none;
}

.btn-fb {
  color: white;
}

.loyalty-redeem-button {
  border-color: #7d593f;
  color: #333;
}

.logo-cust {
  margin: 3px 0 -3px 9px;
  height: 50px;
}

.sensor-title {
  color: #7d593f;
  font-size: 16pt;
  font-weight: 700 !important;
  font-family: "Edu NSW ACT Cursive", Helvetica, Arial, sans-serif;
  background: rgba(255, 255, 255, 0);
  line-height: 40px;
  font-weight: 500;
  width: 100%;
  /* max-width: fit-content; */
  display: block;
  position: relative;
  text-align: center;
  margin-top: 10px !important;
}

.sensor-title::after {
  display: none;
}

.form-control {
  border-radius: 0px;
}

.flex {
  justify-content: center !important;
}


.form-control {
  display: block;
  flex: 1;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

form-control:focus {
  border-color: #0c264b !important;
}

.panel {
  margin: 0 10px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 5px;
  box-shadow: none;
  background: rgba(250, 247, 247, 0.64);
}

.panel-group .panel-heading {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: black;
  background: rgba(249, 249, 249, 1);
  background: -moz-linear-gradient(top,
      rgba(249, 249, 249, 1) 0%,
      rgba(227, 227, 227, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(249, 249, 249, 1)),
      color-stop(100%, rgba(227, 227, 227, 1)));
  background: -webkit-linear-gradient(top,
      rgba(249, 249, 249, 1) 0%,
      rgba(227, 227, 227, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(249, 249, 249, 1) 0%,
      rgba(227, 227, 227, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(249, 249, 249, 1) 0%,
      rgba(227, 227, 227, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(249, 249, 249, 1) 0%,
      rgba(227, 227, 227, 1) 100%);
}

.panel-title {
  font-size: 11pt;
  max-width: 90%;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.row {
  background: transparent !important;
}

.my-emojots {
  display: none;
}

.panel-body {
  background: transparent !important;
}

#headerCompanyInfo>.access-user {
  text-align: center;
  float: right;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  background-size: 120px 80px;
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  color: #7d593f !important;
  font-style: italic;
}

.access-user-name {
  font-family: "Poppins", Helvetica, Arial, sans-serif !important;
  color: #7d593f !important;
}

.user-icon {
  color: #7d593f !important;
}

.company-logo img {
  margin: 10px;
  height: 80px;
  background: white;
  margin-top: 0 !important;
  margin-left: 30px !important;
  border-radius: 0 0 8px 8px;
  border: 3px solid #7d593f;
  border-top: none; 
}


.emo-ico img {
  max-width: 90px !important;
}

.footer {
  /* background: linear-gradient(135deg, #61BC47, #4C9E35) !important; */
  background: #7d593f !important;
  color: #ffffff;
  position: absolute;
  right: 10px;
  left: 0;
  z-index: 1030;
  bottom: 0;
  height: 40px;
  padding: 12px 13px;
  font-size: 8pt;
  margin: 0 -10px 0px 0;
  font-family: "Asap", sans-serif;
}

div.col-xs-7.ng-scope {
  font-family: "Poppins", Helvetica, Arial, sans-serif !important;
}

label.ng-binding {
  color: #000000 !important;
}

.loyalty-message {
  color: #7d593f;
  font-size: 13pt;
  text-align: center;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.loyalty-bottom {
  text-align: center;
}

.loyalty-dialog div:nth-child(3) {}

.email-emote-message {
  color: #7d593f !important;
}

#progressfill {
  background: #7d593f;
}

#groupCommentBuzzModal .modal-header {
  background: #fff;
  color: #e4e4e4;
}

#groupCommentBuzzModal .modal-body {
  background: #fff;
  color: #333333;
}

#groupCommentBuzzModal .modal-footer {
  background: #fff;
  color: #000000;
}

#groupCommentBuzzModal .panel-body.comment-panel {
  background: #f6f6f6 !important;
}

#groupCommentBuzzModal .panel-footer.comment-footer {
  color: #333333;
}

.thank-you-note {
  color: #000000 !important;
}

.pdGroupTitle {
  margin-left: 10px;
  color: #7d593f;
}

.progress_bar .pro-bar {
  margin-top: 15px !important;
}

.company-logo {
  padding: 2px !important;
}

.title-image {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  color: #ffffff;
}

/*  view question - uncomment this to show big view question button if there are only one comment field */

/* 
#commentBuzzPanel i span{
	font-size:18px !important;
	display: none;
}

#commentBuzzPanel{
	text-align: center;
    padding: 7px;
    background: #ee4b30;
    border-radius: 10px;
    margin-top: 96px;
    color:white;
    box-shadow: black;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    border: 1px solid #ee4b30;
    position: absolute;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    z-index:100;
}

#commentBuzzPanel i:after{
	content:'View questions';
	font-family: 'Lato', sans-serif;
	font-size:18px;
} */

/*  tab width - uncomment below code to add full width when load sensor only in tab */

/*.lean{
    width:100% !important;
    max-width:100% !important;
}*/

/* NPS style*/
.evz-nps-position-0,
.evz-nps-position-1,
.evz-nps-position-2,
.evz-nps-position-3,
.evz-nps-position-4,
.evz-nps-position-5,
.evz-nps-position-6 {
  background: #d02030;
  color: white;
  border: 1px solid rgba(255, 0, 55, 0.61);
}

.evz-nps-position-7,
.evz-nps-position-8 {
  background: #f6b334;
  color: white;
  border: 1px solid rgba(195, 117, 34, 0.61);
}

.evz-nps-position-9,
.evz-nps-position-10 {
  background: #4b9e46;
  color: white;
  border: 1px solid rgba(17, 144, 74, 0.61);
}

.clicked-nps-icon {
  border: 3px solid #333;
  box-shadow: 0px 2px 6px #716868;
}

#facebook-login-section {
  display: none;
}

.thankYouImage {
  width: 200px;
}

.repeated-item {
  display: block;
}

.btnGoogle {
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 10px 5px;
  text-align: center;
  min-width: 90px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
  padding: 9px 0px;
  font-size: 12pt;
  text-decoration: none;
  color: white;
  width: 300px;
  height: 44px;
  font-family: "Poppins", serif;
}

.btnGoogle:hover,
.btnGoogle:focus {
  background: #3d3d3d;
  color: #ffffff;
  border: 1px solid #ffffff;
}

img[src="https://storage.emojot.com/pictures/emoticonImages/ico459.png"] {
  display: none !important;
}

div#ec_0_0q1175.emo-cont.clickable.ng-scope {
  display: none !important;
}

div#qt_q1175.col-xs-12 {
  display: none !important;
}

div#qe_q1175.col-xs-12.text-center.emoticonList.ng-scope {
  display: none !important;
}

@media (max-width: 768px) {
  .emo-cont {
    font-size: 8pt !important;
  }

  .sensor-title {
    font-size: 15pt;
  }

  .emote-title {
    font-size: 12pt;
  }

  .company-logo img {
    margin: 10px;
    height: 60px;
    margin-left: 15px !important;
  }

  .form-group label {
    font-size: 12pt !important;
  }

  .form-control {
    font-size: 9pt !important;
  }

  .emo-text {
    font-size: 10pt !important;
  }

  .footer::before {
    font-size: 10pt;
  }

  .emo-ico img {
    max-width: 90px !important;
  }
}