@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

#master-section {
background: url("https://storage.emojot.com/pictures/skinImages/63f718c2eb0830000fdb7360-skin11.png");

    /* background: linear-gradient(to bottom, #ffffff, #f0f0f0); White to light gray gradient */
    /* background-color: #ffffff; */
    min-height: 657px;
    /* min-height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#headerCompanyInfo {
    color: #000000 !important;
    min-height: 90px;
    background: none !important;
}

.container[style] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.emote-title {
    color: #000000 !important;
    font-family: "Marcellus", sans-serif;
    font-size: 15pt;
    font-weight: 600;
    -webkit-background-clip: text;

}



.form-group label {
    color: #000000 !important;
    font-family: "Marcellus", sans-serif;
    font-size: 15pt !important;
    font-weight: 600 !important;
    -webkit-background-clip: text;

}


.emo-text {
    color: #000000 !important;
    font-size: 13pt;
    font-family: "Marcellus", sans-serif;
    font-weight: 500;
    -webkit-background-clip: text;

}

.emo-text-only {
    color: #000000 !important;
    font-size: 13pt;
    font-family: "Marcellus", sans-serif;
    font-weight: 500;
    -webkit-background-clip: text;

}

.loyalty-message {
    color: #000000 !important;
    font-size: 13pt;
    font-family: "Marcellus", sans-serif;
    font-weight: 500;
    -webkit-background-clip: text;

}
p.group-header-text {
    color: #000000 !important;
    font-family: "Marcellus", sans-serif !important;

}

.thank-you-note {
    color: #000000 !important;
    font-family: "Marcellus", sans-serif !important;

}

.emo-text-dropdown {
    color: #626262 !important;
}

.middle-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f3f3f3;
}

.emo-cont {
    border: 2px solid #f7d774;
    margin: 3px 0px;
    background: #f7d77445;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 7px 0;
    border-radius: 3px;
    color: #f7d774;
}

.clicked-emo-cont {
    border: 2px #f7d774 solid !important;
    background: linear-gradient(to bottom, #f7d774 0%, #d4a52c 100%);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 7px 0;
    border-radius: 3px;
    color: #000000 !important;
}

.emo-ico img {
    width: 80%;
    display: inline-block;
    text-align: center;
    max-width: 55px;
    margin: 5px;

    /* Add the shake animation */
    /* animation: shake 0.6s infinite; */
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-2px, 0) rotate(-5deg);
    }

    40% {
        transform: translate(2px, 0) rotate(5deg);
    }

    60% {
        transform: translate(-2px, 0) rotate(-5deg);
    }

    80% {
        transform: translate(2px, 0) rotate(5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.btn-next,
.btn-submit,
.btn-prev,
.btn-clear,
.btn-skip,
.btn-ok,
.loyalty-redeem-button {
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 10px 5px;
    text-align: center;
    min-width: 90px;
    display: inline-block;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 6px 32px;
    font-family: "Marcellus", sans-serif;
    font-size: 12pt;
    border-radius: 50px !important;

    /* Gold gradient */
    background: rgba(249, 249, 249, 1);
    background: linear-gradient(to bottom, #f7d774 0%, #d4a52c 100%);

    /* Glow */
    box-shadow:
        0 0 6px rgba(255, 215, 0, 0.7),
        0 0 14px rgba(255, 215, 0, 0.5);

    color: #000000;
}

.btn-next {
    color: #000000;
    background: linear-gradient(135deg, #f7d774, #d4a52c);
}

.btn-submit {
    background: linear-gradient(135deg, #f7d774, #d4a52c);
    color: #000000;
}

.btn-prev {
    color: #000000;
}

.btn-clear {
    color: #000000;
}

.btn:hover {
    color: #000000;
    text-decoration: none;
    box-shadow:
        0 0 10px rgba(255, 215, 0, 0.9),
        0 0 20px rgba(255, 215, 0, 0.7);
}

.btn-ok {
    color: #000000;
    background: linear-gradient(135deg, #f7d774, #d4a52c);
}

.btn-skip {
    color: #000000;
}

.btn-fb {
    color: white;
}



.clear-submit-row {
    text-align: center !important;
}

.clear-submit-row,
.draft-response-row {
    padding-right: 0 !important;
}

.lnksh-btn-loader {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: lnksh-spin 0.6s linear infinite;
    margin-right: 6px;
    vertical-align: middle;
}

@keyframes lnksh-spin {
    to {
        transform: rotate(360deg);
    }
}

.loyalty-redeem-button {
    border-color: #ffffff;
}

.logo-cust {
    margin: 3px 0 -3px 9px;
    height: 50px;
}

.sensor-title {
    color: #000000 !important;
    font-size: 20pt;
    font-family: "Marcellus", sans-serif;
    background: rgba(255, 255, 255, 0);
    line-height: 40px;
    font-weight: 700;
    -webkit-background-clip: text;

}

.form-control {
    border-radius: 3px;
    background: #00000015 !important;
    border: 2px solid #000000 !important;
    color: #000000 !important;
    font-family: "Marcellus", sans-serif !important;
    font-style: normal !important;
    font-weight: 600;
}

.form-control:focus {
    border-radius: 3px;
    border: 2px solid #000000 !important;
    background: #00000015 !important;
    font-family: "Marcellus", sans-serif !important;
    color: #000000 !important;
    font-style: normal !important;
    font-weight: 600;
}

.panel {
    margin: 0 10px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 3px;
    box-shadow: none;
    background: rgba(250, 247, 247, 0.64);
}

.panel-group .panel-heading {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #f7d774;
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(100%, rgba(227, 227, 227, 1)));
    background: -webkit-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -o-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: -ms-linear-gradient(top, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
    background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(227, 227, 227, 1) 100%);
}

.panel-title {
    color: #ffffff !important;
    font-size: 11pt;
    max-width: 90%;
    font-family: "Marcellus", sans-serif;
    line-height: 1.6;
    -webkit-background-clip: text;

}

.row {
    background: transparent !important;
}

.my-emojots {
    display: none;
}

.panel-body {
    background: transparent !important;
}

.thank-you-note {
    color: rgb(0, 0, 0) !important;
}

.flex {
    justify-content: center !important;
}

#headerCompanyInfo>.access-user {
    text-align: center;
    float: right;
    text-shadow: 1px 1px 1px #000;
    font-family: "Marcellus", sans-serif;
    font-style: italic;
    font-size: 15px;
    background-size: 120px 80px;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
}

.access-user-name {
    font-family: "Marcellus", sans-serif;
    color: #000000 !important;
    -webkit-background-clip: text;

}

.company-logo {
    z-index: 2 !important;
}

.company-logo {
    z-index: 2 !important;
}

.company-logo img {
    height: 120px;
    animation: blackGlow 2.8s ease-in-out infinite;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
}

@keyframes blackGlow {
    0% {
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7))
                drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1))
                drop-shadow(0 0 22px rgba(0, 0, 0, 0.9))
                drop-shadow(0 0 35px rgba(0, 0, 0, 0.8));
    }
    100% {
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7))
                drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
    }
}



.footer {
    /* background: linear-gradient(135deg, #d4a52c, #f7d774) !important; */
    background: #ff0019 !important;
    color: #fff;
    position: absolute;
    right: 10px;
    left: 0;
    z-index: 1030;
    bottom: 0;
    height: 40px;
    padding: 12px 13px;
    font-size: 8pt;
    margin: 0 -10px 0px 0;
    font-family: "Marcellus", sans-serif;
}

.form-group label {
    columns: #fff !important;
    font-family: "Marcellus", sans-serif;
    font-size: 12pt;
}

.loyalty-message {
    color: #000000;
    font-size: 16pt;
    font-weight: 500;
}

.loyalty-bottom {
    text-align: center;
}

.loyalty-dialog div:nth-child(3) {}

.email-emote-message {
    color: white !important;
}

#progressfill {
    background-color: #ff0019;
    animation: colorShift 3s infinite alternate ease-in-out;
}

.media-uploaded {

    border: 2px solid #ffffff;
    background: #ff10ef20;

}

@keyframes colorShift {
    from {
        background-color: #ff0019;
    }

    to {
        background-color: #5f010a;
    }
}


.progress_bar .progress_number {
    font-family: "Marcellus", sans-serif;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

#groupCommentBuzzModal .modal-header {
    background: #fff;
    color: #e4e4e4;
}

#groupCommentBuzzModal .modal-body {
    background: #fff;
    color: #333333;
}

#groupCommentBuzzModal .modal-footer {
    background: #fff;
    color: white;
}

#groupCommentBuzzModal .panel-body.comment-panel {
    background: #f6f6f6 !important;
}

#groupCommentBuzzModal .panel-footer.comment-footer {
    color: #333333;
}

.thank-you-note {
    color: #f7d774 !important;
    font-size: 15px !important;
}

#barChart {
    width: 100%;
}

.evz-nps-position-0,
.evz-nps-position-1,
.evz-nps-position-2,
.evz-nps-position-3,
.evz-nps-position-4,
.evz-nps-position-5,
.evz-nps-position-6 {
    background: #ff2942;
    color: white;
    border: 1px solid rgba(255, 0, 55, 0.61);
}

.evz-nps-position-7,
.evz-nps-position-8 {
    background: #ff7924;
    color: white;
    border: 1px solid rgba(195, 117, 34, 0.61);
}

.evz-nps-position-9,
.evz-nps-position-10 {
    background: #1ca757;
    color: white;
    border: 1px solid rgba(17, 144, 74, 0.61);
}

.clicked-nps-icon {
    border: 3px solid #d4a52c;
    box-shadow:
        0 0 6px rgba(255, 215, 0, 0.9),
        0 0 12px rgba(255, 180, 0, 0.7),
        0 0 18px rgba(255, 160, 0, 0.5);
}


.ui-select-container .ui-select-match span {
    font-weight: 500 !important;
}


div.col-xs-7.ng-scope {
    font-family: "Marcellus", sans-serif !important;
}

@media (max-width: 768px) {

    .emote-title,
    .form-group label {
        font-size: 12pt !important;
    }

    .emo-text {
        font-size: 10pt !important;
    }

    .emo-text-only {
        font-size: 10pt !important;
    }

    .panel-title {
        font-size: 8pt !important;
    }

    .loyalty-message {
        font-size: 13pt !important;
    }

    .progress_bar .progress_number {
        font-size: 10pt !important;
    }

    .nps-bar::before,
    .nps-bar::after {
        font-size: 12pt !important;
    }

    .btn-next,
    .btn-submit,
    .btn-prev,
    .btn-clear,
    .btn-skip,
    .btn-ok,
    .loyalty-redeem-button {
        font-size: 10pt !important;
        padding: 6px 32px !important;
        min-width: 85px !important;
        border-radius: 50px !important;
    }

    .access-user-name,
    #headerCompanyInfo>.access-user {
        font-size: 12pt !important;
    }

    .company-logo img,
    .logo-cust {
        height: 90px !important;
    }

    .emo-ico img {
        max-width: 50px !important;
        width: 75% !important;
    }

    .form-control {
        font-size: 11pt !important;
    }

    .loyalty-message {
        font-size: 12pt;
        color: #150014;
        font-family: "Marcellus", sans-serif;
        font-weight: 500;
    }
}