@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

    =================|=================================
    class/id         | description
    ===================================================
    master-section   | to change sensor background
    emote-title      | change question title
    emo-text         | change emoticon text
    emo-cont         | change emoticon style. You can change emoticon button background color etc.
    clicked-emo-cont | Add the style after the emoticon button get clicked
    sensor-title     | change sensor title
    form-group label | This will change the all label colors including label for loyalty and comments.
    loyalty-message  | Change loyalty description style
    thank-you-note   | change thank you note text color
    footer           | Change footer color
    pdGroupTitle     | change group title properties
    progressfill     | change page progress color
    NPS style        | uncomment this code to show color coded NPS
*/

/* Replace background url to add sensor background image */
#master-section {
    background: url('https://storage.emojot.com/pictures/skinImages/6791d6ad94210ae8d23f93ae-skin1.png');
    /* background: linear-gradient(to bottom, #ffffff, #f0f0f0); White to light gray gradient */
    min-height: 657px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


/*#master-section {
    background:url('https://s3-us-west-2.amazonaws.com/emojotdevstorage/themes_newmobile/images/backgroundimage/people_images_20180809.png');
    min-height: 790px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}*/

 #headerCompanyInfo {
     color:#000000 !important;
     min-height:70px;
}

.container[style]{
     padding-left:0px !important;
     padding-right:0px !important;
}

/* replace color to change question title color */
.emote-title {
     color: #000000;
     font-family: 'Poppins', Helvetica, Arial, sans-serif;
     font-size:13pt;
     font-weight: bold;
}

/* replace color to change emoticon colors */
.emo-text {
    font-size: 12pt;
    color: #000000;
    font-family: 'Poppins',Helvetica, Arial, sans-serif;
    font-weight: 300;
}
 .middle-box {
     margin-top: 10px;
     padding: 10px;
     border: 1px solid #000000;
}
 
/* change background color to change emoticon button color. */
 .emo-cont {
     border: 1px solid rgb(241, 219, 219);
     margin: 3px 0px;
     text-align: center;
     display: inline-block;
     box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
     padding: 7px 0;
     border-radius: 4px;
     color:#f5f5f5;
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#e2e2e2', GradientType=1 );
}

 /* .emo-cont:hover {
    border: 3px solid white;
} */

.clicked-emo-cont {
	background: rgba(56, 50, 50, 0.1);
    border: 3px #781d7d solid !important;
}

.emo-ico img {
    width: 80%;
    display: inline-block;
    text-align: center;
    max-width: 55px;
    margin: 5px;
}
 .btn {
     
     color: #781d7d;
     
}

 .btn-next {
     color: #781d7d;
}
 .btn-submit {
     color: #781d7d;
}
 .btn-prev {
     color: #333;
}
 .btn-clear {
     color: #333;
}

.btn-next,.btn-submit,.btn-prev,.btn-clear,.btn-skip,.btn-ok,.loyalty-redeem-button{
    border: 1px solid rgba(255,255,255, 0.5);
    margin: 10px 5px;
    text-align: center;
    min-width: 90px;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    padding: 9px 25px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    background: rgba(249,249,249,1);
     background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(227,227,227,1)));
     background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
}

 .clear-submit-row{
    text-align:center !important;
}
 .btn:hover {
     color: #781d7d;
     text-decoration: none;
}
.btn-ok {     
    color: #781d7d;     
    font-weight: bold;
}  

.btn-ok:hover,  
.btn-ok:active {  
    border: 1px solid #d8a7dc !important;
}

.btn-skip{
    color:#333;
    display: none !important;
}
.btn-fb{
    color:white;
}

.loyalty-redeem-button{
    border-color: #781d7d;
    color:#333;
}

 .logo-cust {
    margin: 3px 0 -3px 9px;
     height: 50px;
}

/* change color property to change sensor title font color */
.sensor-title {
    color: #000000;
    font-size: 17pt;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    border-bottom: 0.2px solid #f7f4ef;
    letter-spacing: 0.3px;
    background: rgba(255, 255, 255, 0);
    line-height: 40px;
    font-weight: bold;
}


.form-control {
    border-radius: 0px;
}

.form-control {
    display: block;
    flex: 1;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 8px; /* Increased border radius for rounded corners */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}


.panel {
    margin: 0 10px;
}

 .panel-group .panel {
     margin-bottom: 0;
     border-radius: 5px;
     box-shadow: none;
     background: rgba(250, 247, 247, 0.64);
}
 
 .panel-group .panel-heading {
     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
     border-radius: 5px;
     color: black;
     background: rgba(249,249,249,1);
     background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(227,227,227,1)));
     background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
     background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(227,227,227,1) 100%);
}
 .panel-title {
    font-size: 11pt;
     max-width: 90%;
     font-family: 'Poppins', Helvetica, Arial, sans-serif;
     line-height: 1.6;
}
 .row {
     background: transparent !important;
}
 .my-emojots{
     display:none;
}
 .panel-body {
     background: transparent !important;
}
 
#headerCompanyInfo > .access-user {
    text-align: center;
    float: right;
    /* text-shadow: 1px 1px 1px #000; */
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    /* font-style: italic; */
    font-size: 15px;
    font-weight: 600; /* Adjusted font weight for a bolder appearance */
    background-size: 120px 80px;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
}


 .company-logo img{
    /* margin-top: -20px !important; */
    /* margin-bottom: -20px !important; */
 	margin:10px;
     height: 120px;
}

/* change background color to change sensor footer color */
 .footer {
     background: #781d7d !important;
     color: #fff;
     position: absolute;
     right: 10px;
     left: 0;
     z-index: 800;
     bottom: 0;
     height: 40px;
     padding: 12px 13px;
     font-size: 8pt;
     margin: 0 -10px 0px 0;
     font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

/* change label color to change label color of the entire sensor */
 .form-group label{
     color: #000000 !important;
     font-family: 'Poppins', Helvetica, Arial, sans-serif;
     font-size:12pt;
}

/* Change color to change loyalty description text color */
 .loyalty-message{
     color:#000000;
     font-size: 13pt;
     text-align:center;
}

 .loyalty-bottom{
     text-align:center;
}
 
 .loyalty-dialog div:nth-child(3){
    
}
 
 .email-emote-message{
     color:#000000 !important;
}

/* change this to change page progress color */
#progressfill{
    background-color: #781d7d;
}

#groupCommentBuzzModal .modal-header{
	background:#fff ;
	color:#e4e4e4;
}

#groupCommentBuzzModal .modal-body{
	background:#fff;
	color:#333333;
}

#groupCommentBuzzModal .modal-footer{
	background:#fff;
	color:#000000;
}

#groupCommentBuzzModal .panel-body.comment-panel{
	background:#f6f6f6 !important;
}

#groupCommentBuzzModal .panel-footer.comment-footer{
	color:#333333;
}

/* change color to change thankyou note text color */
.thank-you-note{
    color: #f4f4f4 !important; 
}

/* .access-user-name {
	width:80%;
} */

.pdGroupTitle{
    margin-left: 10px;
	color:#7b7b7b;
	
}

.progress_bar .pro-bar {
	margin-top:15px !important;
}

.company-logo{
	padding:2px !important;
}
.title-image{
    margin-left:auto;
    margin-right:auto;
    width:80px;
color:#ffffff;
}


/*  view question - uncomment this to show big view question button if there are only one comment field */

/* 
#commentBuzzPanel i span{
	font-size:18px !important;
	display: none;
}

#commentBuzzPanel{
	text-align: center;
    padding: 7px;
    background: #ee4b30;
    border-radius: 10px;
    margin-top: 96px;
    color:white;
    box-shadow: black;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    border: 1px solid #ee4b30;
    position: absolute;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    z-index:100;
}

#commentBuzzPanel i:after{
	content:'View questions';
	font-family: 'Lato', sans-serif;
	font-size:18px;
} */

/*  tab width - uncomment below code to add full width when load sensor only in tab */

/*.lean{
    width:100% !important;
    max-width:100% !important;
}*/

/* NPS style*/
/*.evz-nps-position-0,
.evz-nps-position-1,
.evz-nps-position-2,
.evz-nps-position-3,
.evz-nps-position-4,
.evz-nps-position-5,
.evz-nps-position-6{
    background: #ff2942;
    color: white;
    border: 1px solid rgba(255, 0, 55, 0.61);
}

.evz-nps-position-7,
.evz-nps-position-8{
    background: #ff7924;
    color: white;
    border: 1px solid rgba(195, 117, 34, 0.61);
}

.evz-nps-position-9,
.evz-nps-position-10{
    background: #1ca757;
    color: white;
    border: 1px solid rgba(17, 144, 74, 0.61);
}

.clicked-nps-icon{
    border: 3px solid #333;
    box-shadow: 0px 2px 6px #716868;
} */
#facebook-login-section{
	display:none;
}

.thankYouImage{
	width:200px;
}

.repeated-item{
	display:block;
}

@media (max-width: 768px) {
    .emo-text {
        font-size: 8pt;
    }
}